{% extends 'basic.html' %}

{% block title %}
Blog
{% endblock title %}

{% block stylecss %}
<style>
    .post-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        max-width: 900px;
        margin: auto;
    }

    .service-item {
        margin-bottom: 30px;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .items-post img {
        width: 700px;
        height: auto;
        margin: 0 0 16px 0;
    }

    .description {
        text-align: justify;
    }
</style>
{% endblock stylecss %}

{% block body %}
{% load static %}
<section id="services" class="services section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Welcome to My Personal Blog</h2>
        <p>Welcome to my personal blog! Here, you can see my unique stories, insights, and experiences of my life. Join
            my community, express yourself, and connect with like-minded individuals. Start your
            blogging journey
            with us today!</p>
    </div>

    <div class="container">
        <div class="post-container">
            {% for post in posts %}
            <div class="service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="bi bi-person"></i></div>
                <div class="items-post">
                    <h4 class="title">{{ post.title }}</h4>

                    {% if post.img %}
                    <img src="{{ post.img.url }}" class="img-fluid" alt="">
                    {% endif %}

                    <p class="description">{{ post.description }}</p>
                    <p class="">Posted by : {{ post.authName }}</p>
                    <p class="">Posted on : {{ post.timeStamp }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}