{% extends 'basic.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock title %}


{% block body %}
<section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="info-wrap">
                    <div class="info-item d-flex" data-aos="fade-up">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Vadodara, Gujarat, India - 390019</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+91 72 8497 4724</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>jaluiovilash@outlook.com</p>
                        </div>
                    </div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118106.6287482813!2d73.01719411100302!3d22.322186957616548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc8ab91a3ddab%3A0xac39d3bfe1473fb8!2sVadodara%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1722241159606!5m2!1sen!2sin"
                        frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">></iframe>
                </div>
            </div>

            <div class="col-lg-7">
                <form action="/contact/" method="post" data-aos="fade-up">
                    {% csrf_token %}
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="name-field" class="form-label pb-2">Your Name</label>
                            <input type="text" name="username" id="name-field" class="form-control" required="">
                        </div>

                        <div class="col-md-6">
                            {% if user.is_authenticated %}
                            <label for="email-field" class="form-label pb-2">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email-field" required="">
                            {% else %}
                            <input type="hidden" name="email" value="{{ user.email }}">
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            <label for="subject-field" class="form-label pb-2">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required="">
                        </div>

                        <div class="col-md-12">
                            <label for="description" class="form-label pb-2">How Can We Help You?</label>
                            <textarea class="form-control" name="description" rows="10" id="description"
                                required=""></textarea>
                        </div>

                        <button type="submit" class="btn btn-dark">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}


{% block scripts %}
<script>
    setTimeout(function () {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(function (alert) {
            let bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        });
    }, 3000);
</script>
{% endblock scripts %}