{% extends 'basic.html' %}
{% load static %}

{% block title %}
Resume
{% endblock title %}


{% block body %}
<section id="resume" class="resume section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Enthusiastic Software Developer with expertise in Django and the MERN stack. Proficient in HTML5, CSS3,
            JavaScript, and
            Django, with foundational knowledge of React.js and Node.js. Adept at building robust and scalable web
            applications,
            including personal portfolios and community platforms. Passionate about backend development and emerging
            technologies,
            with strong problem-solving skills and a commitment to mastering Data Structures and Algorithms. Eager to
            gain
            experience and transition into leadership roles, aiming to contribute significantly to company success
            within two years.

        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Ovilash Jalui</h4>
                    <p><em>Innovative and deadline-driven Full-Stack Web Developer with 1+ years of experience designing
                            and
                            developing user-centered
                            webiste projects from initial concept to final, polished deliverable.
                        </em></p>
                    <ul>
                        <li>Vadodara, Gujarat, India - 390019</li>
                        <li>+91 72 8497 4724</li>
                        <li>jaluiovilash@outlook.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Computer Science Engineering</h4>
                    <h5>2021 - 2025</h5>
                    <p><em>Parul University, India</em></p>
                    <p>Developing a solid foundation in computer science principles with a focus on software
                        development, web technologies, and data structures.</p>
                </div>

                <div class="resume-item">
                    <h4>Higher Secondary</h4>
                    <h5>2019 - 2021</h5>
                    <p><em>Jai Ambe Vidyalaya, India</em></p>
                    <p>Took the science stream with a focus on mathematics. Developed a strong passion for mathematics
                        from a young age and
                        completed schooling at this institution.
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Machine Learning Intern</h4>
                    <h5>July 2024 - August 2024</h5>
                    <p><em>Arka Infotech, India</em></p>
                    <ul>
                        <li>Gained practical experience in writing industrial-based code, developing skills in creating
                            secure, scalable
                            applications using the MERN stack and Django frameworks.

                        </li>
                        <li>Built a secure authentication system using the MERN stack, enhancing my ability to
                            implement robust security measures in
                            web applications.
                        </li>
                        <li>Developed various applications, including an employee management system, a local e-commerce
                            platform, and FARMit, a
                            social media platform using Django, broadening my expertise in full-stack development.
                        </li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Web Development Intern</h4>
                    <h5>June 2024 - July 2024</h5>
                    <p><em>CodSoft, India</em></p>
                    <ul>
                        <li>Web Development Skills: Gained hands-on experience using HTML, CSS, and JavaScript to build
                            a business landing page,
                            portfolio page, and calculator.

                        </li>
                        <li>Industry-Based Coding Practices: Learned to write industry-standard code, focusing on best
                            practices and coding
                            conventions during your first technical internship.

                        </li>
                        <li>Project Execution: Developed practical skills in project execution, including designing and
                            implementing functional web
                            applications to meet real-world requirements.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}